{{ $sections := sort .Site.Data.sections "weight" }}

{{ $menu_group_list :=  slice }}
{{ range sort .Site.Data.sections "weight" }}
	{{ if .menu_group }}
	{{ $menu_group_list = $menu_group_list | append .menu_group }}
	{{ end }}
{{ end }}
{{ $menu_group_list = $menu_group_list | uniq }}

<div class="collapse navbar-collapse">
	<ul class="sections-nav navbar-nav">
		{{ range $menu_group_name := $menu_group_list }}
		<li class="nav-item dropdown nav-{{ . }}" section-name="{{ . }}">
			<a class="nav-link dropdown-toggle ml-auto" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				{{ . }}
			</a>
			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
				{{ range where $sections "menu_group" "in" $menu_group_name  }}
				<a class="dropdown-item" href="javascript:window.scrollBy(0, $('section[data-scene=\'{{ .name }}\']').offset().top - $(window).scrollTop() - $('.storymap-navbar').height() - 30);">
					{{ .menu_name }}
				</a>
				{{ end }}
			</div>
		</li>
		{{ end }}
		<li class="nav-item"><a class="nav-link ml-auto" href="">Help/About</a></li>
	</ul>
</div>