<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
	<body>
	{{/*  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-navbar storymap-navbar">
	    <a class="navbar-brand" href="#">
	        <i class="fa fa-home" style="padding-right:10px;"></i>

	            StoryMap Demo
	    </a>
	    {{- partial "navbar_nest.html" . -}}
	</nav>  */}}
	{{- partial "navbar_nest_bs5.html" . -}}
	<div id="storymap" class="container-fluid">
	    <div class="row">
	        <div class="col-sm-6 col-md-8 storymap-map"></div>
	        <div class="col-sm-6 col-md-4 storymap-story">
	        	{{- partial "story.html" . -}}
	        </div>
	    </div>
	</div>
	</body>
</html>